<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/pavicon.ico" type="image/x-icon" />

</head>

<body>

  <div class="page-wrapper">

    {{ template "partials/header" .}}

    {{ if .PageCSS }}
    <div class="lazy-section" data-css="{{ .PageCSS }}">
      {{ embed }}
    </div>
    {{ else }}
    {{ embed }}
    {{ end }}

    {{ template "partials/footer" .}}

  </div>
  <script src="/static/js/index.js"></script>

</body>

</html>