<section id="testimonials" class="lazy-section" data-css="/static/css/testimonials.css">
  <div class="container">
    <h2>Apa Kata Klien Kami</h2>
    <p class="section-subtitle">Kepercayaan dan kepuasan mereka adalah bukti kualitas kerja kami.</p>
    <div class="testimonial-slider">
      <div class="testimonial">
        <div class="testimonial-content">
          <div class="quote-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M9.983 3v7.391c0 2.908-2.353 5.261-5.261 5.261h-.722v-3.511c1.391-.487 2.483-1.621 2.483-3.141h-2.483v-6h5.983zm14.017 0v7.391c0 2.908-2.353 5.261-5.261 5.261h-.722v-3.511c1.391-.487 2.483-1.621 2.483-3.141h-2.483v-6h5.983z" />
            </svg>
          </div>
          <p>"Sangat puas dengan hasil pemasangan granitnya. Tim Maunguli bekerja sangat rapi, presisi, dan hasilnya
            melebihi ekspektasi saya."</p>
        </div>
        <div class="testimonial-author">
          <img src="https://i.pravatar.cc/50?u=johndoe" alt="Foto Klien 1" class="testimonial-avatar">
          <div class="author-info">
            <h3>Budi Setiawan</h3>
            <p>Pemilik Rumah, Bintaro</p>
          </div>
        </div>
      </div>
      <div class="testimonial">
        <div class="testimonial-content">
          <div class="quote-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M9.983 3v7.391c0 2.908-2.353 5.261-5.261 5.261h-.722v-3.511c1.391-.487 2.483-1.621 2.483-3.141h-2.483v-6h5.983zm14.017 0v7.391c0 2.908-2.353 5.261-5.261 5.261h-.722v-3.511c1.391-.487 2.483-1.621 2.483-3.141h-2.483v-6h5.983z" />
            </svg>
          </div>
          <p>"Proses renovasi kafe kami berjalan lancar dan tepat waktu. Tim Maunguli sangat profesional dan komunikatif
            dari awal hingga akhir. Hasilnya membuat pelanggan kami makin betah!"</p>
        </div>
        <div class="testimonial-author">
          <img src="https://i.pravatar.cc/50?u=siti" alt="Foto Klien 2" class="testimonial-avatar">
          <div class="author-info">
            <h3>Siti Lestari</h3>
            <p>Pemilik Kafe, Jakarta Selatan</p>
          </div>
        </div>
      </div>
      <div class="testimonial">
        <div class="testimonial-content">
          <div class="quote-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M9.983 3v7.391c0 2.908-2.353 5.261-5.261 5.261h-.722v-3.511c1.391-.487 2.483-1.621 2.483-3.141h-2.483v-6h5.983zm14.017 0v7.391c0 2.908-2.353 5.261-5.261 5.261h-.722v-3.511c1.391-.487 2.483-1.621 2.483-3.141h-2.483v-6h5.983z" />
            </svg>
          </div>
          <p>"Membangun rumah dari nol adalah keputusan besar, dan kami tidak salah memilih Maunguli. Mereka benar-benar
            mewujudkan rumah impian kami sesuai desain dan budget. Sangat direkomendasikan!"</p>
        </div>
        <div class="testimonial-author">
          <img src="https://i.pravatar.cc/50?u=hermawan" alt="Foto Klien 3" class="testimonial-avatar">
          <div class="author-info">
            <h3>Keluarga Hermawan</h3>
            <p>Klien Pembangunan Rumah, BSD City</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>